{% trans_default_domain 'victoire' %}

{% set answerNb = 0  %}
{% for image in question.images %}


    {% set answerNb = answerNb + image.answers|length %}
{% endfor %}


<p><i>{{ 'widget_poll.modal.participant.number'|trans({ '%nb%' : answerNb }) }}</i></p>
<table class="table table-bordered" style="table-layout:fixed;">
    {% for image in question.images%}
        <tr>
            <td>
                <img src="{{ asset(image.value.url)  }}" width="100" height="100"/>
            </td>
            <td>{% if answerNb == 0 %}{{ 'widget_poll.no.results'|trans }}{% else %}{{ ((image.answers|length)/answerNb*100)|round }}%{% endif %}</td>
        </tr>
    {% endfor %}
</table>
